@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ffff;
  --dark: #000;
  --lightblue: #489fc4;
  --darklight: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #ffff;
    --dark: #000;
    --lightblue: #74c7ec;
    --darklight: #282828;
  }
}

body {
  color: var(--dark);
  background: var(--light);
}

/* styles/globals.css or wherever your base CSS is */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
